<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  Registration Successful
  Name:<span th:text="${frm.name}"></span><br>
  Email:<span th:text="${frm.email}"></span><br>
  DOB:<span th:text="${frm.dob}"></span><br>
  Gender:<span th:text="${frm.gender}"></span><br>
  Dishes:<span th:text="${frm.dishes}"></span><br>
  Feedback:<span th:text="${frm.feedback}"></span><br>
  Location:<span th:text="${frm.location}"></span><br>
</body>
</html>